<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Settings -->
  <category label="2000">
    <setting id="hd_streams" label="2100" type="bool" default="true" />
  </category>
  <!-- Debugging -->
  <category label="9000">
    <setting label="9100" type="action" action="RunPlugin(plugin://plugin.video.abc_iview/?action=sendreport)"/>
  </category>
</settings>
