<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Settings -->
  <category label="30001">
    <setting id="SHOW_COLLECTIONS" label="30008" type="enum" lvalues="30009|30010" default="1" />
    <setting id="USE_IA" label="30004" type="bool" default="true" />
    <setting label="30006" type="action" action="RunPlugin(plugin://plugin.video.abc_iview/?action=open_ia_settings)" option="close"/>
  </category>
  <!-- Debugging -->
  <category label="30002">
    <setting label="30005" type="action" action="RunPlugin(plugin://plugin.video.abc_iview/?action=sendreport)"/>
    <setting id="IGNORE_DRM" label="30007" type="bool" default="false" />
  </category>
</settings>
